.button1, .button2, .button3 {
  letter-spacing: 1px;
  border-radius: 2rem;
  color: white;
  font-size: 3.1rem;
  border: none; }

html {
  font-size: 62.5%; }

body {
  background-color: #D0D0D0;
  width: 96.95%;
  text-align: center;
  color: white; }

h1 {
  color: black;
  font: 700 6rem 'Roboto', sans-serif;
  letter-spacing: 4px;
  margin-top: 28px;
  margin-left: 35px; }

.button1 {
  background-color: #15be3d;
  padding: 6px 38px;
  margin-right: 34px; }
  .button1:hover {
    background-color: #e60bfa;
    border-color: #19f405;
    border-style: solid;
    cursor: pointer;
    transition: transition-duration 2s; }

.button2 {
  background-color: #3691fe;
  padding: 6px 50px; }
  .button2:hover {
    background-color: #FF8E01;
    border-color: #0071fe;
    border-style: solid;
    cursor: pointer;
    transition: transition-duration 2s; }

.button3 {
  background-color: #fec903;
  padding: 6px 35px;
  margin-top: 27px; }
  .button3:hover {
    background-color: #01ACFF;
    border-color: #fe5300;
    border-style: solid;
    cursor: pointer;
    transition: transition-duration 2s; }
