html {
  font-size: 62.5%; }

body {
  background-color: #D0D0D0;
  width: 100%;
  text-align: center;
  color: white; }
  body .main h1 {
    color: black;
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    margin-top: 32px;
    margin-right: 7px; }
  body .main .container {
    margin-right: 50px; }
    body .main .container .button1 {
      background-color: #15be3d;
      border-radius: 2rem;
      margin-right: 28px;
      color: white;
      font-size: 3rem;
      padding: 6px 47px;
      border: none; }
      body .main .container .button1:hover {
        border-color: #fc2003; }
        body .main .container .button1:hover .bottom1 {
          border-color: #fc2003; }
    body .main .container .button2 {
      background-color: #3691fe;
      border-radius: 2rem;
      color: white;
      font-size: 3rem;
      padding: 6px 60px;
      border: none; }
      body .main .container .button2:hover {
        border-color: #1c03fc; }
        body .main .container .button2:hover .bottom2 {
          border-color: #1c03fc; }
  body .main .butt {
    margin-right: 50px; }
    body .main .butt .button3 {
      background-color: #fec903;
      border-radius: 2rem;
      color: white;
      padding: 6px 45px;
      margin-top: 30px;
      font-size: 3rem;
      border: none; }
      body .main .butt .button3:hover {
        border-color: #1c03fc; }
        body .main .butt .button3:hover .bottom3 {
          border-color: #fc7303; }
