body .main .container .button1, body .main .container .button2, body .main .butt .button3 {
  border-radius: 2rem;
  color: white;
  font-size: 3rem;
  border: none; }

html {
  font-size: 62.5%; }

body {
  background-color: #D0D0D0;
  width: 100%;
  text-align: center;
  color: white; }
  body .main h1 {
    color: black;
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    margin-top: 32px;
    margin-right: 7px; }
  body .main .container {
    margin-right: 50px; }
    body .main .container .button1 {
      background-color: #15be3d;
      padding: 6px 47px;
      margin-right: 28px; }
      body .main .container .button1:hover {
        border-color: #fc2003; }
    body .main .container .button2 {
      background-color: #3691fe;
      padding: 6px 60px;
      padding: 6px 60px; }
      body .main .container .button2:hover {
        border-color: #1c03fc; }
  body .main .butt {
    margin-right: 50px; }
    body .main .butt .button3 {
      background-color: #fec903;
      padding: 6px 45px;
      padding: 6px 45px;
      margin-top: 30px; }
      body .main .butt .button3:hover {
        border-color: #1c03fc; }
