%color {
    letter-spacing: 1px;
    border-radius: 2rem;
    color: white;
    font-size: 3.1rem;
    border: none;
}

@mixin BgPad($background: white, $paddingTB: 6px, $paddingRL: 45px) {
    background-color: $background;
    padding: $paddingTB $paddingRL;
}

@mixin hoverr($borderCol: white) {
    background-color: $borderCol;
    border-color: invert($borderCol);
    border-style: solid;
    cursor: pointer;
    transition: $transition;
}
