@import 'mixiny';
@import 'zmienne';

html {
    font-size: 62.5%;
}

body {
    background-color: $test;
    width: 100%;
    text-align: center;
    color: $textcolor;

.main {
     h1 {
        color: $naglowek;
        font-size: 6rem;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 4px;
        margin-top: 32px;
        margin-right: 7px;

    }

    .container {
         margin-right: 50px;

         .button1 {
            @extend %color;
            @include BgPad($button1, $paddingRL: 47px);
            margin-right: 28px;

                &:hover {
                    border-color: $border1;
                }
            }

        .button2 {
            @extend %color;
            @include BgPad($button2, $paddingRL: 60px);
            padding: 6px 60px;
            
                &:hover {
                    border-color: $border2;
                 }
            }
        }

        .butt {
            margin-right: 50px;

            .button3 {
               @extend %color;
                @include BgPad($button3, $paddingRL: 45px);
                padding: 6px 45px;
                margin-top: 30px;
    
                    &:hover {
                        border-color: $border2;
                    }
            }
        }
    }

};
