@import 'mixiny';
@import 'zmienne';

html {
    font-size: 62.5%;
}

body {
    background-color: $background;
    width: 96.95%;
    text-align: center;
}

h1 {
    color: $naglowek;
    font: 700 6rem 'Roboto', sans-serif;
    letter-spacing: 0.4rem;
    margin-top: 2.8rem;
    margin-left: 3.5rem;
}

.button1 {
     @extend %color;
     @include BgPad($button1, $paddingRL: 3.8rem);
    margin-right: 3.4rem;
         &:hover {
             @include hoverr($borderCol1);
        }
}

.button2 {
    @extend %color;
    @include BgPad($button2, $paddingRL: 5rem);
            
        &:hover {
            @include hoverr($borderCol2);
         }
}
        
.button3 {
    @extend %color;
    @include BgPad($button3, $paddingRL: 3.5rem);
    margin-top: 2.7rem;
    
         &:hover {
            @include hoverr($borderCol3);
         }
}



