@import 'mixiny';
@import 'zmienne';

html {
    font-size: 62.5%;
}

body {
    background-color: $test;
    width: 96.95%;
    text-align: center;
    color: $textcolor;
}

h1 {
    color: $naglowek;
    font: 700 6rem 'Nunito Sans', sans-serif;
    letter-spacing: 4px;
    margin-top: 23px;
    margin-left: 33px;
}

.button1 {
     @extend %color;
     @include BgPad($button1, $paddingRL: 38px);
    margin-right: 34px;
         &:hover {
             @include hoverr($button1);
             border-style: solid;
        }
}

.button2 {
    @extend %color;
    @include BgPad($button2, $paddingRL: 50px);
            
        &:hover {
            @include hoverr($button2);
            border-style: solid;
         }
}
        
.button3 {
    @extend %color;
    @include BgPad($button3, $paddingRL: 35px);
    margin-top: 27px;
    
         &:hover {
            @include hoverr($button3);
            border-style: solid;
        }
}



