$test: #D0D0D0;
$textcolor: white;
$button1: #15be3d;
$button2: #3691fe;
$button3: #fec903;
$borderCol1:#e60bfa;
$borderCol2:#FF8E01;
$borderCol3: #01ACFF;
$naglowek: black;
$transition: transition-duration 2s;