$test: #D0D0D0;
$textcolor: white;
$button1: #15be3d;
$button2: #3691fe;
$button3: #fec903;
$borderCol1: #0fbf70;
$borderCol2: #268feb;
$borderCol3: #eda702;
$naglowek: black;
$transition: transition-duration 2s;