$test: #D0D0D0;
$textcolor: white;
$button1: #15be3d;
$button2: #3691fe;
$button3: #fec903;
$naglowek: black;
$border1: #fc2003;
$border2: #1c03fc;
$border3: #fc7303;
$transition: transition-duration 2s;